* {
    margin: 0;
    padding: 0;

    overflow: none;

}

*::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
    z-index:  -1;

    height: 60%;
}


.container img {
    object-fit: fill;
    /* position: absolute; */

    
    width: 100%;
    height: max-content;
    
    /* overflow: hidden; */
}